* {
  box-sizing: border-box;
}

header {
    padding-top: 15px;
    padding-bottom: 30px;
}

input[type="text"]{
    margin: 10px auto;
    padding: 10px;
    width: 460px;
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    
}

#container {
    width: 980px;
    margin: 0 auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery li {
    margin-bottom: 60px;
}

#overlay {
    background: rgba(100, 100, 100, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.show {
    width: 50%;
    margin-top: 60px;
    margin-bottom: 30px;
}

#overlay p , h3{
    color: white;
}


.leftArrow img{
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    display: inline-block;
    margin-bottom: 11%;
}

.rightArrow img{
        margin-bottom: 11%;

}

#buster {
    width: 30px;
    margin-top: 10px;
}