* {
  box-sizing: border-box;
}

header {
    padding-top: 15px;
    padding-bottom: 30px;
}

input[type="text"]{
    margin: 10px auto;
    padding: 10px;
    width: 460px;
    border: 2px solid lightgray;
    border-radius: 5px;
    box-shadow: none;
    display: block;
    
}

#container {
    width: 980px;
    margin: 0 auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gallery li {
    margin-bottom: 60px;
}